body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #e6f2ff, #b3d9ff);
    font-family: Arial, sans-serif;
}
.login-container {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    display: flex;
    width: 800px;
    height: 500px;
}
.login-left, .login-right {
    flex: 1;
    padding: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
}
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.forgot-password {
    color: #6c757d;
    text-decoration: none;
    margin-bottom: 15px;
    display: block;
}
.login-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
.login-button1 {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}
.login-right {
    background-color: #6faff2;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    color: white;
    text-align: center;
}
.register-button {
    padding: 10px 20px;
    background-color: #6faff2;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
.register-button.active {
    background-color: #86b0dc;
}